@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Roboto:wght@200&display=swap');

/*---------------------------------------------------- Page Overflow --------------------------------------*/

body, html {
    width: 100%;
    max-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*---------------------------------------------------- Header / Nav Bar -----------------------------------*/

header {
    background-color: rgb(130, 0, 0);
    min-width: 100%;
}
  
  .navbar a {
    float: left;
    padding: 12px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 25%; 
    text-align: center;
    text-decoration: none;
}
  
  .navbar a:hover {
    color: green;
    text-decoration: underline green solid;
}

/*---------------------------------------------------- Hero Image ----------------------------------------*/

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/sennahero.jpg"); 
    min-height: 350px;
    background-position: right;
    background-color: #000000; 
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 40vh;
    width: 100%;
}

/*---------------------------------------------------- Hero Caption --------------------------------------*/

.hero-caption {
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    min-width: 100%;
}

.hero-caption > h1 {
    font-size: 500%;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.hero-caption > p {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
}

/*---------------------------------------------------- Main Content and Video Formatting ---------------*/

/* Background Area */

#nested {
  background-color: black;
  min-width: 100%;
  margin-top: 0px;
}

/* Summary Text Box */

.summary {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding:10px 10px 5px 10px;
  margin: 10px 30px 30px 30px;
  min-width: 100%;
  min-height: 275px;
  font-size: smaller;
  font-family: 'Roboto', sans-serif;
  font-size: smaller;
  color: rgb(0, 0, 0);
}

/* Driver Quotes Text Box */

.driver-quote {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding:10px 10px 5px 10px;
  margin: 10px 30px 10px 30px;
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
}

.name {
  font-size: small;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

.stats {
  font-size: smaller;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.quote {
  font-size: smaller;
  color:rgb(0, 0, 0);
  font-style: italic;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}

.driver-quote img {
  float: left;
  margin-right: 25px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

/* Video Box */

.video-embed {
  padding:10px 10px 5px 10px;
  margin: 10px 30px 30px 30px;
  width: 100vh;
}

.embed-container { 
  margin-left: 60px;
  margin-top: 10px;
} 

/* Column Formatting */

.column-left {
  float: left; 
  width: 33%; 
  padding: 10px;
}
.column-right { 
  float: right; 
  width: 33%;
  padding: 10px;
}

.column-center{ 
  display: inline-block; 
  width: 33%;
  padding: 10px;
}

/*---------------------------------------------------- Footer -------------------------------------------- */

footer {
  background-color: rgb(130, 0, 0);
  display: flex;
  min-height: 140px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding-top: 10px;
}

ul{
  list-style: none;
  color: white;
}

.socials a {
  padding: 12px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

.socials a:hover {
  color: green;
  text-decoration: underline green solid;
}

/*---------------------------------------------------- History Page ----------------------------------------*/

/* Timeline (Tutorial used for main format, credit: https://code-boxx.com/simple-pure-css-timeline */

/* Timeline Container */

.vtl {
  position: relative;
  padding: 10px 10px 10px 50px;
  max-width: 600px;
}


/* Actual Line */

.vtl::before {
  content: '';
  width: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
}

/* Historic Event Text Box */

div.event {
  padding: 20px 30px;
  background-color: #ffffff;
  position: relative;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* Year Style */

strong.edate {
  font-size: 1.1em;
  font-weight: bold;
  color: #000000;
}

p.etxt {
  margin: 10px 0 0 0;
  color: #222;
}

/* Text triangle link with timeline */

div.event::before {
  content: '';
  border: 10px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  position: absolute;
  top: 20%;
  left: -10px;
}

/* Circles on timeline */

div.event::after {
  content: '';
  background: #fff;
  border: 4px solid green;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: -40px;
}

/* Timeline background */
.timeline {
  min-height: 750px;
  background-color: rgb(0, 0, 0);
  padding-left: 30%;
}

/* Images */

.img-his-leg {
  margin-left: 10px;
}

/*---------------------------------------------------- Legacy Page -------------------------------------------*/

/* Legacy Text Box */

div.legacy-text {
  padding: 20px 30px;
  background-color: #ffffff;
  position: relative;
  border-radius: 6px;
  width: 100%;
}

.leg-text-frame {
  position: relative;
  padding: 30px;
  max-width: 100%;
}

/* Background */
#legacy-bg {
  background: black;
}

.legacy-section {
  min-height: 750px;
  background-color: rgb(0, 0, 0);
  padding: 20px;
}


/* Font Stylings */
.leg-1 {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 50px;
  text-decoration: underline;
}

.leg-2 {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.leg-3 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.leg-p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

/*---------------------------------------------------- Form on Mailing List Page -------*/

/* Form Structure (Tutorial used for main format, credit: /* Timeline (Tutorial used for main format, credit: https://code-boxx.com/simple-pure-css-timeline */

.form-section {
  clear: left;
  background: url("../images/sennaformsignup.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

}

.nl-signup-form {
  margin-top: 150px;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 400px;
  position: absolute;
  left: 10%;
  padding: 30px;
}

.nl-signup-form > h2{
  color: #fafafa;
  margin-bottom: 20px;
  
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

label > a {
  padding: 12px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

label > a:hover {
  color: green;
  text-decoration: underline green solid;
}

.text-input:hover{
  border-color: green;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: rgb(130, 0, 0);
  color: #fafafa;
  display: block;
}

.join-button:hover {
  background-color: green;
  color: #ffd900;
}

/*---------------------------------------------------- Media Queries for Responsiveness */

/* Nav Bar */

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    text-align: left;
    display: block;
    min-width: 100%;
    
  }
}

/* Landing Page Columns / Video */

@media screen and (max-width: 1432px) {
  .quote {
    padding-top: 30px;
  }
}

@media screen and (max-width: 960px) {
  .column-left {
    float: none; 
    width: 100%; 
    margin-left:-10px;
    margin-right:30px;
    padding-right:30px;
  }
  
  .column-right{ 
    float: none; 
    width: 100%; 
    margin-left:-10px;
    margin-right:30px;
    padding-right:30px;
  }

  .column-center{ 
    float: none; 
    width: 100%; 
    margin-left:-10px;
    margin-right:30px;
    padding-right:30px;
    padding-left: 10px;
    margin-top: -50px;
  }
  
}

/* Home Screen Video Box */

@media screen and (max-width: 1556px) {
#onboardEmbed { 
  width: 80%;
  }
}

@media screen and (max-width: 820px) {
  #onboardEmbed { 
    width: 80%;
    margin-left: 10%;
    }
  }

/* Footer */

@media screen and (max-width: 960px) {
  footer {
    min-height: 180px;
  }
}

/* Timeline */

@media screen and (max-width: 600px) {
  .timeline {
    padding: 0px;
  }

}

@media screen and (max-width: 790px) {
  .img-history {
    max-width: 250px;
  }
}

/* Legacy Embed */

@media screen and (max-width: 790px) {
  #legacyEmbed {
  max-width: 250px;
  }
}

/* Signup Form */

@media screen and (max-width: 450px) {
.nl-signup-form {
  width: 70%;
  }
}